<div id="<%= dom_id car %>">
  <p>
    <strong>User:</strong>
    <%= car.user_id %>
  </p>

  <p>
    <strong>Company:</strong>
    <%= car.company %>
  </p>

  <p>
    <strong>Adress:</strong>
    <%= car.adress %>
  </p>

</div>
